<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System</h3>
            <p>
                <span sec:authentication="principal.user.nick">닉네임</span>님 반갑습니다.
                <a th:href="@{/user/logout}">[로그아웃]</a>
            </p>
        </header>
        <main id="board">
            <section class="list">
                <nav>
                    <h1>글목록</h1>
                    <form action="#">
                        <input type="text" name="search" placeholder="제목 키워드, 글쓴이 검색">
                        <input type="submit" value="검색">
                    </form>
                </nav>
                                
                <table border="0">                    
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>날짜</th>
                        <th>조회</th>
                    </tr>                    
                    <tr th:each="article:${articles}">
                        <td>[[${article.no}]]</td>
                        <td><a th:href="@{/article/view}">[[${article.title}]]&#91;[[${article.comment}]]&#93;</a></td>
                        <td>[[${article.nick}]]</td>
                        <td>[[${article.rdate}]]</td>
                        <td>[[${article.hit}]]</td>
                    </tr>
                </table>

                <div class="page">
                    <a href="#" class="prev">이전</a>
                    <a href="#" class="num current">1</a>
                    <a href="#" class="num">2</a>
                    <a href="#" class="num">3</a>
                    <a href="#" class="next">다음</a>
                </div>

                <a th:href="@{/article/write}" class="btn btnWrite">글쓰기</a>
                
            </section>
        </main>
        <footer>
            <p>
                <span class="copyright">Copyrightⓒ 김철학(개발에반하다.)</span>
                <span class="version">[[${appInfo.appName}]] ver.[[${appInfo.appVersion}]]</span>
            </p>
        </footer>
    </div>    
</body>
</html>